ul {
    margin: 0;
    list-style: none;
}

/* PROCESS */
#process {
    padding-top: 3rem;
    background-image: url('../img/dots-blue.png');
    background-repeat: no-repeat;
    background-position: top right;
}
#process-nav li {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: .5rem;
    border-bottom: 1px solid #D8D8D8;
    cursor: pointer;
}
#process-nav a {
    display: inline-block;
    vertical-align: middle;
}
#process-nav .icon {
    margin-right: 1rem;
}
.red-card {
    position: relative;
}
.red-card .selection {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #F13F4B;
    background-image: url('../img/icon/validation.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
}
.red-card.selected {
    border: 2px solid #F13F4B;
}
.red-card img{
    display: block;
    width: 100%;
}

/* OTHER */
.gray-color {
    color: #D8D8D8;
}
.orange-color {
    color: #F13F4B;
}
.center-text {
    text-align: center;
}
/* SLICK */
.slick-slide {
    padding: 5px;
}
.slick-slider .slick-arrow,
.slick-slider .slick-arrow:hover,
.slick-slider .slick-arrow:focus {
    background-repeat: no-repeat;
    background-position: center;
    color: #F13F4B;
    background-image: url('../img/icon/orange-arrow.png');
}
.slick-arrow.slick-next{
    transform: scale(-1, 1);
}
.slick-arrow::before {
    display: none;
}
.slick-arrow {
    color: #F13F4B;
    background-image: url('../img/icon/orange-arrow.png');
}

/* IMAGE */
.icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.orange-arrow {
    background-image: url('../img/icon/orange-arrow.png');
}
.noun-loading {
    background-image: url('../img/icon/noun-loading.png');
}
.validation {
    background-image: url('../img/icon/validation.png');
}
.grid {
    background-image: url('../img/icon/grid.png');
}
.post {
    background-image: url('../img/icon/post.png');
}
.payment {
    background-image: url('../img/icon/payment.png');
}
.flash {
    background-image: url('../img/icon/flash.png');
}