ul {
    margin: 0;
    list-style: none;
}

/* PROCESS */
#process {
    padding-top: 3rem;
    background-image: url('../img/dots-blue.png');
    background-repeat: no-repeat;
    background-position: top right;
}
#process-nav, #subMenuTitle {
    padding-left: 2rem;
    cursor: pointer;
}
#subMenuTitle {
    position: relative;
    top: -.5rem;
    /* padding-bottom: .5rem; */
}
#subMenuTitle::before {
    content: "<";
    font-size: 1rem;
    padding-left: 2px;
    color: gray;
    float: left;
}
#process-nav li {
    padding: .1rem 0;
}
#process-nav li a {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: .4rem;
    border-bottom: 1px solid #D8D8D8;
    cursor: pointer;
}
#process-nav a {
    display: inline-block;
    vertical-align: middle;
}
#process-nav .icon {
    margin-right: 1rem;
}
.red-card {
    position: relative;
}
.red-card .selection {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #F13F4B;
    background-image: url('../img/icon/validation.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
}
.red-card.selected {
    border: 2px solid #F13F4B;
}
.red-card img{
    display: block;
    width: 100%;
}
/* ADMIN  */
.influencers_list {
    background-color: #F4F3F8;
    margin-bottom: 1rem;
} 
.influencers_img {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.influencers_img > img {
    width: 80%;
    opacity: 0;
}
/* OTHER */
.pointer {
    cursor: pointer;
}
.gray-color {
    color: #D8D8D8;
}
.orange-color {
    color: #F13F4B;
}
.center-text, .text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* SLICK */
.slick-slide {
    padding: 5px;
}
.slick-slider .slick-arrow,
.slick-slider .slick-arrow:hover,
.slick-slider .slick-arrow:focus {
    background-repeat: no-repeat;
    background-position: center;
    color: #F13F4B;
    background-image: url('../img/icon/orange-arrow.png');
}
.slick-arrow.slick-next{
    transform: scale(-1, 1);
}
.slick-arrow::before {
    display: none;
}
.slick-arrow {
    color: #F13F4B;
    background-image: url('../img/icon/orange-arrow.png');
}

/* IMAGE */
.icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.orange-arrow {
    background-image: url('../img/icon/orange-arrow.png');
}
.noun-loading {
    background-image: url('../img/icon/noun-loading.png');
}
.validation {
    background-image: url('../img/icon/validation.png');
}
.grid {
    background-image: url('../img/icon/grid.png');
}
.post {
    background-image: url('../img/icon/post.svg');
}
.payment {
    background-image: url('../img/icon/payment.png');
}
.flash {
    background-image: url('../img/icon/flash.png');
}
.mark {
    background-image: url('../img/icon/mark.png');
}
.star {
    background-image: url('../img/icon/star.png');
}
.account {
    background-image: url('../img/icon/account.svg');
}
.message {
    background-image: url('../img/icon/message.png');
}
.photos {
    background-image: url('../img/icon/photos.png');
}
.home {
    background-image: url('../img/icon/home.svg');
}
.feed {
    background-image: url('../img/icon/feed.svg');
}
.write {
    background-image: url('../img/icon/write.svg');
}
